/******************* Demo Page Styling *********************/

body {
  font-family: sans-serif;
}

h2 {
  margin-bottom: 5px;
}

p {
  margin-top: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

/* Dynamically resize the containers, but overflow when below 300px */
.container-column  {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-width: 300px;
  margin: 10px;
}

.output-container {
  margin: 10px;
}

/* Set size of the JSON input textarea */
#json-input {
  height: 100px;
  width: 100%;
  text-overflow: wrap;
}

/* Set size of the HTML Template input textarea */
#html-template-input {
  height: 100px;
  width: 100%;
  text-overflow: wrap;
}

.options-module {
  border-style: solid;
  border-width: 1px;
}

/* Apply a fixed sizing to the demo nodes */
#legend-container .node {
  width: 200px;
  height: 100px;
  display: inline-block;
}

#legend-container .root-node {
  width: 200px;
  height: 100px;
  display: inline-block;
}

.add-row-button {
  font-size: 12px;
  cursor: pointer;
}

.action-button {
  margin: 5px;
  width: 225px;
}


.option-label-column {
  vertical-align: top;
}

.option-input-column {
  vertical-align: top;
}

.option-list {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

/***************** Custom Tree Styling For Demo ****************/
/* Node Styling */
.node .node-background {
  fill: #F5F5F5;
  stroke: #00FFFF;    
  stroke-width: 2px;
  width: 100%;
  height: 100%;
}
.root-node .node-background { stroke: #00FF00; }

/* Link Styling ***/
.link-html-container{
  fill: none;
  stroke: #3f3f3f;
  stroke-width: 2px;
  overflow: visible; 
}

/* Link Arrow Marker Styling */
.arrow-html-container {
  fill: none;
  stroke: #3f3f3f;
  stroke-width: 1px;
  overflow: visible; 
}

/* Top Level Node HTML Container Styling */
.node-html-container { 
  padding: 5px; 
  display: block;
}

