/* DEMO PAGE STYLING */

/******************** Basic Element Styles **********************/
/****************************************************************/

/* make page title thicker font */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  text-align: center;
}

/* make section titles thicker font */
h2 {
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 24px;
  font-weight: bold;
}

/* padding-top to buffer for navbar */
/* default text font size and weight */
body {
  padding-top: 50px;
  font-family: sans-serif;
  font-size: 12px;
}

/* description text should have normal styles */
p {
  margin-top: 5px;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

/* Clear the bottom margin on labels of the table. Better centers the labels within each row */
label {
  margin-bottom: 0px !important;
}
/* Clear the margin on the table so that it doesn't add on an extra padding to the bottom of inside the module body */
table {
  margin-bottom: 0px !important;
}
/* add line spacers between each tree setting, leave out top */
tbody>tr>td {
  border-top: 0px !important;
}
tbody>tr:not(:first-child) {
  border-top: 1px solid #ddd !important;
}

/* Eliminate top/bottom padding so table is regularly spaced within module */
.panel-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

/******* Alignment *******/
/* Override bootstrap vertical align to center settings labels between rows */
tbody>tr>td {
  vertical-align: middle !important;
}
/* Reset the label alignment for options where you can change number of inputs */
.align-top {
  display: table-cell;
  vertical-align: top !important;
}
.btn-default {
  font-size: 10px;
}
/**************************/

/**************View Port Specific *******************************/
/****************************************************************/
/* for larger widths, font sizes scale with width */
@media (min-width: 1180px) {
  h1 {
    font-size: 3vw;
  }
  h2 {
    margin-bottom: 5px;
    font-size: 2vw;
  }
  p {
    font-size: 1vw;
  }
  body {
    font-size: 1vw;
  }
  .btn-default {
    font-size: 1vw;
  }

}

/* max-width and centering for large viewports */
@media (min-width: 1000px) {
  .main-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

}
/****************************************************************/



/********************* Button Styles ****************************/
/****************************************************************/

/* Make clickable area of nav button take up the full H & W of view */
/********************/
.navbar .container {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.navbar ul {
  margin: 0px;
}

.navbar ul li {
  float: none;
}

.navbar ul li:hover {
  background-color: #f5f5f5;
}

.navbar ul li a {
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 50px;
  height: 50px;

  font-size: 26px;
}
/********************/


/* Styling for buttons adding rows and expand/collapsing modules */
/********************/
/* Use the pointer cursor for all radio select inputs */
input[type=radio] {
  cursor: pointer;
}

/* Styling for all clickable buttons 
 * that are all directly tied to a 
 * title element directly above it */
.sub-button {
  cursor: pointer;
  margin-top: 3px;
  margin-left: 5px;
  font-weight: normal;
  vertical-align: top;
  display: inline-block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* format the toggle modules links */
.sub-option-button {
  font-size:11px;
}
.sub-title-button {
  font-size: 13px;
}
/********************/

.footer-text {
  text-align: center;
  font-size: 14px;
}

/* Make list of text inputs a raw list of elements with no styling */
.option-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Spacing for options in a select input */
.option-list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Make cursor a pointer on entirety of collapsable panel headings */
.panel-heading {
    cursor: pointer;
}
/****************************************************************/



/********************* Random Inputs ****************************/
/****************************************************************/

/* Set size of the JSON input textarea */
.textarea-input {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}

/* When there's no content, this gives output modules a basic min height */
.output-container {
  min-height: 50px;
}

/* Wrap words in formatted code sections */
.code-container {
  overflow-wrap: break-word;
}

/* Styling to center output tree on the page */
svg {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

/* Allows different modules to wrap differently depending on vieweport size */
.main-container {
  display: flex;
  flex-flow: row wrap;

  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
}
/****************************************************************/
